/* Reset CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;

}
.clear {
    clear:both;
}
.white-text {
    color:#fff !important;
}
.black-text {
    color: #000;
}
#header {
    height: 46px;
    background-color: #000;
    position: fixed;
    top: 0 ;
    left: 0 ;
    right : 0 ;
    z-index: 1;
    
    
}
#nav {
    display: inline-block;
}
#nav li:hover .subnav {
    display: block;
}
#nav > li  { 
    display: inline-block;
}
#nav li {
    position: relative;
}

#nav , .subnav {
    list-style-type: none;
}
#nav .subnav {
    display: none; 
    position: absolute;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    min-width: 160px;
}
#nav li a {
    
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: inline-block;
    
}

#nav >  li:hover >  a, 
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
    
 }
#nav .subnav a {
    color : #000;
    padding: 0 12px;
    line-height: 38px;
}
#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}
#nav .nav-down {
    font-size: 14px;
}

#header .search-btn {
    float: right;
    padding: 0 23px;
    cursor: pointer;
}
#header .search-btn:hover {
    background-color: red;
}
#header .menu-icon,
#header .search-icon {
    color : #fff;
    
    line-height: 46px;
    
}
#slide {
    background-color: #333;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/assets/img/chicago.jpg') top center / cover no-repeat ;
    position: relative;
}
#slide .slide-text {
    color : #fff;
    position: absolute;
    bottom : 48px;
    left : 50%;
    transform: translateX(-50%);
    /* width: 100%; */
    /* left : 0 ;
    right : 0 ;  */
    text-align: center;
}
#slide .slide-text-heading {
    font-weight: 500;
    font-size: 24px;
    
}
#slide .slide-text-describe {
    margin-top: 25px;
    font-size: 15px;
    text-shadow: ;
}

#content .content-section {
    width: 800px;
    max-width: 100%;
    padding: 64px 0 112px;
    margin-left: auto;
    margin-right: auto;
    
}
#content .section-heading {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 4px;
}
#content .section-sub-heading {
    text-align: center;
    font-size: 15px;
    margin-top:25px;
    font-style: italic;
    opacity: 0.6;
}
#content .about-text {
    margin-top :25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}
#content .member-list {
    margin-top: 48px;
    text-align: center;
}
#content .member-item {
    float:left;
    width: calc(100% /3);

}
#content .member-name {
    font-size: 15px;

}
#content .member-img {
    width :154px;
    margin-top: 15px;
    border-radius: 4px;
}
#content .tour-section {
    background-color: #000;
}
#content .ticket-list {
    background-color: #fff;
    margin-top : 40px ;
}
.ticket-list li {
    color:#757575;
    font-size: 15px;
    padding: 11px 16px;
    border-bottom: 1px solid #ddd;
    list-style: none;;
}
.ticket-list .sold-out {
    color : #fff;
    background-color: #f44336;
    padding : 3px 8px;
    margin-left: 16px;
}
.ticket-list .ticket-amount {
    float : right;
    width: 24px;
    height: 24px;
    text-align: center;
    line-height: 24px;
    border-radius: 50%;
    background-color: #000;
    color:#fff;
    margin-right: 16px;
    margin-top: -3px;
}
.places-list {
    margin-top: 32px;
    margin-left: -8px ;
    margin-right: -8px;
}
.places-list .place-item {
    
    
    float:left;
    width: calc(100%/3);
    padding: 0 8px;
    
    
}
.places-list .place-body {
    background-color: #fff;
    padding :  16px;
    font-size: 15px;
    padding-bottom: 48px;
   
}
.places-list .place-img:hover {
    opacity: 0.6;
}
.places-list .place-img {
    width: 100%;
    height: 184px;
    display: block;
   
}
.place-heading {
    font-weight: 400px;
}
.place-time {
    color: #757575;
}
.place-time ,
.place-desc {
    margin-top: 15px;
}
.place-buy-btn {
    background-color: #000;
    padding: 11px 17px;
    color:#fff;
    font-size: 15px;
    display: inline-block;
    margin-top: 15px;
    border: 0;
}
.place-buy-btn:hover {
    background-color: #ccc;
}
.modal.open {
    display: flex;
}
.modal {
    position: fixed;
    top: 0;
    right: 0;
    left:0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    display: none;
    align-items: center;
    justify-content: center;
    
    
}
.modal-body {
    padding : 16px;
}
.modal-bag {
    margin-right: 16px;
}
.modal-close:hover {
    opacity: 1;
}
.modal-close {
    position: absolute;
    right:0;
    top: 0;
    padding: 16px;
    color:#fff;
    cursor: pointer;
    opacity: 0.8;

}
.modal .modal-header {
    height: 129px;
    background-color: #009688;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    
}
.modal .modal-container {
    background: #fff;
    width : 900px;
    min-height: 200px;
    position: relative;
    animation: modalFadeIn ease 0.5s;
}
.modal-label {
    font-size:15px;
    display: block;
    margin-bottom: 20px;
}
.modal-input {
    border: 1px solid #ccc;
    width: 100%;
    font-size: 15px;
    padding: 10px;
    margin-bottom: 20px;
}
#buy-tickets:hover {
    background-color: #ccc;
}
#buy-tickets {
    background-color: #009688;
    width: 100%;
    padding: 16px;
    color:#fff;
    font-size: 15px;
    border:none;
    text-transform: uppercase;
    cursor: pointer;
}
.modal-footer {
   padding: 16px;
    font-size: 15px;
   text-align: right;
   
   
}
.modal-footer a {
    color:#2196F3;
}
.row {
    margin-left: -8px;
    margin-right: -8px;
}
.col {
    float:left;
    padding-left: 8px;
    padding-right:8px;
}
.col-half {
    width : 50%;
}
.col-full {
    width: 100%;
}
.contact-content {
    margin-top: 48px;
}
.contact-info {
    font-size : 18px;
    line-height: 1.6;
}
.contact-info i {
    width : 30px;
}
.contact-form {
    font-size:15px;
}
input.form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}
.mt-8 {
    margin-top: 8px;
}
.mt-16 {
    margin-top: 16px;
}
.form-submit-btn {
    float:right;
    background-color: #000;
    color:#fff;
    border: 1px solid #000;
    padding: 11px 18px;
    cursor: pointer;

}
.form-submit-btn:hover {
    background-color: #757575;
  
}
.map-section img {
    width : 100%;
    margin-top: 120px;
}
#footer .social-linked {
    
    text-align: center;
    
}
#footer {
    padding : 64px 16px;
}
#footer .social-linked a {
    color:rgba(0, 0, 0, 0.6);
    
    text-decoration: none;
    font-size: 20px;
    
}
#footer .social-linked a:hover {
    color:rgba(0, 0, 0, 0.3);
    
    
    
    
}
#footer .copyright {
    color:rgba(0, 0, 0, 0.6);
    margin-top: 15px;
}
.mobile-menu-btn {
    float:right;
    padding: 0 23px;
    display: none;
}
.ti-menu {
    color:#fff;
}
#header .mobile-menu-btn:hover {
    cursor: pointer;
    background-color: #ccc;
}

@keyframes modalFadeIn {
    from {
        transform: translateY(-200px);
    }
    to {
        transform: translateY(0);
    }
    
}
@media (min-width: 1024px) {

}
@media (min-width:740px) and (max-width: 1023px) {
    #slide {
        
        padding-right: 16px;
    }
    #content .content-section {
        padding-left: 16px;
        padding-right: 16px;
    }
   
}
@media (max-width: 739px) {
 
#header {
      overflow: hidden ;
  }
.search-btn {
      display: none;
  }
 
#nav > li {
      display: block;
  }
.mobile-menu-btn {
    
    display: block;
}
#nav .subnav {
    display : initial;
} 
 #content .member-down {
    width: 100%;
    margin-top: 30px;
}
#content .member-img {
    width: 60%;
}
#content .content-section,
#content .about-text {
    padding-left: 16px;
    padding-right: 16px;
}
.places-list .place-item {
    
    width: 100%;
    
    margin-top: 16px;
}
.content-section .contact-info {
    width: 100%;
}
.content-section .contact-form {
    margin-top: 16px;
}
.info-full {
    width: 100%;
}
.s-mt-32 {
    margin-top: 8px;
}
.s-full-width {
    width: 100%;
}
.place-buy-btn {
    width : 100%;
    
}
    

}
